
@{
    ViewBag.Title = "User Maintain";
}

<div id="search" class="container tab-pane active">
    <div class="container mt-3">
        <h2>User Management</h2>
        <hr>
        <div class="row mb-3">
            <div class="col-4">
                <input id="input_Search" type="text" class="form-control" placeholder="Search">
            </div>
            <div class="col-2">
                <button class="btn btn-primary" v-on:click="fetchUsers()">Search</button>
            </div>
            <div class="col-6 text-end">
                <button class="btn btn-success">New User</button>
            </div>
        </div>

        <table class="table">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Username</th>
                        <th>User No</th>
                        <th>Email</th>
                        <th>Active</th>
                        <th>Admin</th>
                        <th>Last Login</th>
                        <th>Created Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="user in users" :key="user.user_id">
                        <td>{{ user.user_id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.userno }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.is_active ? 'Yes' : 'No' }}</td>
                        <td>{{ user.is_admin ? 'Yes' : 'No' }}</td>
                        <td>{{ user.lastlogin }}</td>
                        <td>{{ user.cdt }}</td>
                        <td>
                            <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#edit-user-modal">Edit</button>
                            <button class="btn btn-danger btn-sm" v-on:click="DeleteUsers(user)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>

<!-- Edit Users-->
<div id="edit-user-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="edit-username">Username:</label>
                    <input type="text" class="form-control" id="edit-username" v-model="selectedUser.username">
                </div>
                <div class="form-group">
                    <label for="edit-userno">User No:</label>
                    <input type="text" class="form-control" id="edit-userno" v-model="selectedUser.userno">
                </div>
                <div class="form-group">
                    <label for="edit-email">Email:</label>
                    <input type="text" class="form-control" id="edit-email" v-model="selectedUser.email">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="edit-active" v-model="selectedUser.is_active">
                    <label class="form-check-label" for="edit-active">Active</label>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="edit-admin" v-model="selectedUser.is_admin">
                    <label class="form-check-label" for="edit-admin">Admin</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" v-on:click="EditUsers(user)">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    new Vue({
        el: '#search',
        data: {
            users: [],
            searchText: $("#input_Search").val()
        },
        created() {
            // alert('Hello');
        },
        mounted() {
            // this.fetchUsers();
        },
        methods: {
            fetchUsers() {
                var search = $("#input_Search").val();

                axios.post('/Admin/Users/QueryUser', {
                    input: search
                })
                .then(response => {
                    this.users = response.data;
                    if (response.data.length == 0) {
                        alert("User: " + search + " not found");
                    }
                })
                .catch(error => {
                    console.log(error);
                });
            },
            UpdateUsers() {
                alert('User Update !!');
                //var user=this.selectedUser;

                //axios.post('/Admin/Users/UpdateUser', this.selectedUser)
                //.then(response => {
                //    // Update the user in the table.
                //    var updatedUserIndex = this.users.findIndex(user => user.user_id === this.selectedUser.user_id);
                //    this.users.splice(updatedUserIndex, 1, this.selectedUser);

                //    // Close the modal.
                //    $("#edit-user-modal").modal('hide');
                //})
                //.catch(error => {
                //    console.log(error);
                //});
            },
            DeleteUsers() {
                alert('Delete user');
            }
        }
    });
</script>