
@{
    ViewBag.Title = "User Maintain";
}

<div id="search" class="container tab-pane active">
    <div class="container mt-3">
        <h2>User Management</h2>
        <hr>
        <div class="row mb-3">
            <div class="col-4">
                <input id="input_Search" type="text" class="form-control" placeholder="Search">
            </div>
            <div class="col-2">
                <button class="btn btn-primary" v-on:click="fetchUsers()">Search</button>
            </div>
            <div class="col-6 text-end">
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#add-user-modal" v-on:click="AddUsers()">New User</button>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>User No</th>
                    <th>Email</th>
                    <th>Active</th>
                    <th>Admin</th>
                    <th>Last Login</th>
                    <th>Created Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="user in users" :key="user.user_id">
                    <td>{{ user.user_id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.userno }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.is_active ? 'Yes' : 'No' }}</td>
                    <td>{{ user.is_admin ? 'Yes' : 'No' }}</td>
                    <td>{{ user.lastlogin }}</td>
                    <td>{{ user.cdt }}</td>
                    <td>
                        <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#edit-user-modal" v-on:click="EditUsers(user)">Edit</button>
                        <button class="btn btn-danger btn-sm" v-on:click="DeleteUsers(user)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Add Users-->
    <div id="add-user-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="add-username">Username:</label>
                        <input type="text" class="form-control" id="add-username">
                    </div>
                    <div class="form-group">
                        <label for="add-userno">User No:</label>
                        <input type="text" class="form-control" id="add-userno">
                    </div>
                    <div class="form-group">
                        <label for="add-userpsw">Password:</label>
                        <input type="password" class="form-control" id="add-userpsw">
                    </div>
                    <div class="form-group">
                        <label for="add-email">Email:</label>
                        <input type="text" class="form-control" id="add-email" required>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="add-active">
                        <label class="form-check-label" for="add-active">Active</label>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="add-admin">
                        <label class="form-check-label" for="add-admin">Admin</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" v-on:click="InsertUsers()">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Users-->
    <div id="edit-user-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="edit-username">Username:</label>
                        <input type="text" class="form-control" id="edit-username" v-model="selectedUser.username">
                    </div>
                    <div class="form-group">
                        <label for="edit-userno">User No:</label>
                        <input type="text" class="form-control" id="edit-userno" v-model="selectedUser.userno">
                    </div>
                    <div class="form-group">
                        <label for="edit-userpsw">Password:</label>
                        <input type="password" class="form-control" id="edit-userpsw" v-model="selectedUser.password" :disabled="!changePsw">
                        <input type="checkbox" class="form-check-input" id="edit-changepsw" v-model="changePsw" />
                        <label class="form-check-label" for="edit-changepsw">Change Password:</label>
                    </div>
                    <div class="form-group">
                        <label for="edit-email">Email:</label>
                        <input type="text" class="form-control" id="edit-email" v-model="selectedUser.email" required>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="edit-active" v-model="selectedUser.is_active">
                        <label class="form-check-label" for="edit-active">Active</label>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="edit-admin" v-model="selectedUser.is_admin">
                        <label class="form-check-label" for="edit-admin">Admin</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" v-on:click="UpdateUsers(selectedUser)">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {

    });

    new Vue({
        el: '#search',
        data: {
            users: [],
            selectedUser: {},
            changePsw: false,
            searchText: $("#input_Search").val()
        },
        created() {
            // alert('Hello');
        },
        mounted() {
            // this.fetchUsers();
        },
        methods: {
            fetchUsers() {
                var search = $("#input_Search").val();
                axios.post('/Admin/Users/QueryUser', {
                    input: search
                })
                    .then(response => {
                        this.users = response.data;
                        if (response.data.length == 0) {
                            alert("User: " + search + " not found");
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            EditUsers(user) {
                // Set the selected user.
                this.changePsw = false;
                this.selectedUser = user;
            },
            UpdateUsers(input) {
                if (confirm('Are you sure update user ' + this.selectedUser.username + '?')) {
                    var inputUser = this.users.find(user => user.user_id === input.user_id);
                    var inputPsw = '';
                    if (this.changePsw) {
                        inputPsw = $("#edit-userpsw").val();
                    }
                    axios.post('/Admin/Users/UpdateUser', {
                        input: inputUser,
                        newPsw: inputPsw
                    })
                        .then(response => {
                            console.log(response);
                            if (response.data.isSuccess) {
                                alert('User Update !!');
                                location.reload();
                            } else {
                                alert(response.data.Message);
                            }
                        })
                        .catch(error => {
                            console.log(error);
                        });
                } else {
                    // 取消按鈕被點擊
                    console.log('User clicked Cancel');
                }
            },
            DeleteUsers(user) {
                if (confirm('Are you sure delete user ' + user.username + '?')) {
                    console.log('User clicked confirm');
                    axios.post('/Admin/Users/DeleteUser', {
                        userId: user.user_id
                    })
                        .then(response => {
                            console.log(response);
                            if (response.data.isSuccess) {
                                alert('User ' + user.username + ' deleted !!');
                                location.reload();
                            } else {
                                alert(response.data.Message);
                            }
                        })
                        .catch(error => {
                            console.log(error);
                        });
                }
                else {
                    // 取消按鈕被點擊
                    console.log('User clicked Cancel');
                }
            },
            AddUsers() {
                alert('add user');
            },
            InsertUsers() {
                alert('call controller');
            }
        }
    });
</script>
